<!DOCTYPE html>
<html lang="es"xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<div id="footer" th:fragment="foot">

    <footer>

        <div class="footer pt-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h5 class="m-lg-1">Sistema RestauranX©℗®™</h5>
                    </div>
                </div>
            </div>
        </div>

    </footer>

</div>
</body>
</html>