<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.com">
<head>
  <meta charset="UTF-8"content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../style/style.css">
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<div th:replace="header :: head"></div>
<title>Listado de Pedidos</title>
</head>
<body>
<div th:replace="header :: head"></div>
<h1>Listado de Pedidos</h1>
<table>
  <tr>
    <th>Numero Pedido</th>
    <th>Mesa Numero</th>
    <th>ID Camarero</th>
    <th>Fecha</th>
    <th>Total</th>
  </tr>
  <tr th:each="pedido : ${pedidos}">
    <td th:text="${pedido.id}"></td>
    <td th:text="${pedido.mesaID}"></td>
    <td th:text="${pedido.camareroID}"></td>
    <td th:text="${pedido.fecha}"></td>
    <td th:text="${pedido.total}"></td>
  </tr>
</table>
</div>
<div th:replace="footer :: foot"></div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>